:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  /* Prevent scrolling for infinite canvas */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  touch-action: none;
  /* Prevent default touch actions like scrolling/zooming */
}

canvas {
  touch-action: none;
  display: block;
}